:root {
    --color-main-theme: #173f35;
    --color-sub-theme: #e7ebea;
    --color-title: #ceb888;
    --color-btn: #173f35;
    --color-btn-hover: #216644;
}

@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Muli"), local("Muli"),
      url("../fonts/muli/Muli-Regular.ttf") format("truetype"),
        url("../fonts/muli/Muli-Regular.eot") format("embedded-opentype"),
        url("../fonts/muli/Muli-Regular.woff") format("woff"),
        url("../fonts/muli/Muli-Regular.woff") format("woff"),
        url("../fonts/muli/Muli-Regular.svg") format("svg");
}

@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Muli SemiBold"), local("Muli Semibold"),
      url("../fonts/muli/Muli-SemiBold.ttf") format("truetype"),
        url("../fonts/muli/Muli-SemiBold.eot") format("embedded-opentype"),
        url("../fonts/muli/Muli-SemiBold.woff") format("woff"),
        url("../fonts/muli/Muli-SemiBold.woff") format("woff"),
        url("../fonts/muli/Muli-SemiBold.svg") format("svg");
}

@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Muli Bold"), local("Muli Bold"),
      url("../fonts/muli/Muli-Bold.ttf") format("truetype"),
        url("../fonts/muli/Muli-Bold.eot") format("embedded-opentype"),
        url("../fonts/muli/Muli-Bold.woff") format("woff"),
        url("../fonts/muli/Muli-Bold.woff") format("woff"),
        url("../fonts/muli/Muli-Bold.svg") format("svg");
}

/** Variables **/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

a, button, input { 
    outline: none; 
}

ol, ul{ 
    padding: 0; 
    margin: 0;
}

strong{ 
  font-weight: 700;
}

iframe{
  width: 100%;
  border: none;
  display: block;
}
p { 
    margin: 0 0 15px; 
}

img {
    max-width: 100%;
    height: auto;
}

*::-moz-selection { 
    background: #2457aa; 
    color: #fff; 
    text-shadow: none; 
}
::-moz-selection { 
    background: #2457aa; 
    color: #fff;
    text-shadow: none; 
}
::selection { 
    background: #2457aa; 
    color: #fff; 
    text-shadow: none; 
}

* {
    box-sizing: border-box;
}

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input, 
select{
    font-family: inherit;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
    vertical-align: middle;
    width: 100%;
    color: #8a91ac;
    padding: 12px 15px 11px;
    border-radius: 3px;
    font-weight: 400;
    background-color: #fff;
    text-transform: inherit;
    border: 1px solid rgba(0, 43, 92, 0.08);
    font-size: 14px;
    outline: none;
    line-height: inherit;
    letter-spacing: 0px;
}

button, input[type="submit"], 
input[type="button"], 
input[type="reset"] {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    padding: 11px 40px 11px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    outline: none!important;
    -webkit-font-smoothing: antialiased;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus {
    border: 1px solid var(--color-main-theme);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: searchfield;
}


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder ,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholde  {   
  color: #fff;
}

menu, ol, ul {
    margin: 16px 0;
    padding: 0 0 0 25px;
}

body { 
    font-family: 'Muli', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212529;
    background-color: #fff;
    letter-spacing: 0px;

}
h1, h2, h3, h4, h5, h6{margin-bottom: 15px; font-weight: 700; color: var(--color-title);}
h1 { font-size: 60px; line-height: 72px; }
h2 { font-size: 46px; line-height: 52px; }
h3 { font-size: 36px; line-height: 42px; }
h4 { font-size: 25px; line-height: 32px; }
h5 { font-size: 20px; line-height: 25px; }
h6 { font-size: 17px; line-height: 18px; font-weight: 500;}


/** Extra-outer **/
body.front-page {
    background-color: var(--color-sub-theme);
}

body .page {
    overflow: hidden;
    position: relative;
    z-index: 10;
}
body .site-main {
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

body .page.sidebar-true .site-main{ 
    padding: 0 0;
}

a{ 
    color: var(--color-main-theme);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover ,
a:focus {
    color: var(--color-btn);
}

.box-shadow{ box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08); }



/* ===============================================
    Spacing
------------------------*/
.introduction-section {
    margin-bottom: 90px;
}

/* ===============================================
    Color
------------------------*/
/** 1.Skin-color **/
.section-title h5,
.site-navigation nav.main-menu,
nav.main-menu ul.menu > li.active > a {
    color: var(--color-main-theme);
}

/** Skin-bg-color **/
.header.header .site-header-menu-inner {
    background-color: #fff;
}

.footer .social-icons li>a:hover,
nav.main-menu .megamenu-content .title {
    color: var(--color-main-theme);
}

/* ===============================================
    Pre-loader
------------------------*/
#preloader  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -30px 0 0 -30px;
 }
#status {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: #fff;
    background-image: url(../images/preloader-1.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/*  ===============================================
    SocialIcon / TooltipTop
------------------------*/
ul.social-icons{ 
    margin: 0; 
    padding: 0;
}
.social-icons li {
    display: inline-block;
    border: none;
    z-index: 1;
    position: relative;
}
.social-icons li{
    margin: 0 2px;
}
.social-icons li:last-child{
    margin-right: 0px;
}
.social-icons li a{
    display: block;
    min-width: 26px;
    text-align: center;
}
.social-icons.circle li>a {
    border: 1px solid ;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    background-color: transparent;
    font-size: 13px;
    border-radius: 50%;
}

/** SiteBrand(logo) **/
.site-branding{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.site-branding a.home-link {
	text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.site-branding a.home-link {
    font-size: 0;
}

.site-branding a.home-link img {
	max-width: 90px;
}


/* header_extra */
.headline {
    background-color: #fff;
    border-top: 5px solid var(--color-title);
    border-bottom: 1px solid #eee6d6;
}
.headline ul {
    list-style: none;
    display: flex;
    padding: 0;
}
.headline ul li {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.headline ul .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.headline ul .icon-site {
    background: url(../images/icons/site.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.headline ul .icon-mail {
    background: url(../images/icons/email.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.header_extra > div{ 
    margin-left: 10px;
}
.header_btn a.ttm-btn{
    display: block;
    padding: 11px 23px 10px 22px;
}
.header_btn #appointment { 
    display: none;
    background: #fff;
    padding: 30px 30px 20px 30px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    clear: both;
    box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
}
.header_btn #appointment h3{
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 15px;
}
.header_search #searchbox{
   position: relative;
}
.header_search .search_btn {
    position: relative;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    z-index: 2;
}
.header_search .search_btn i{
    font-size: 15px;
}
.header_search_content button.close-search {
    position: absolute;
    top: 6px;
    right: 5px;
    box-shadow: unset;
    opacity: .30;
}
.header_search_content button.close-search:hover{
    opacity: 1;
}
.header_search .header_search_content{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 108px;
    padding: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    opacity: 0;
    display: none;
    transition: all .6s ease-in;
    background: #fff;
    clear: both;
    box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
}
.header_search .header_search_content.on{
    display: block;
    opacity: 1;
    z-index: 2;
}
.header_search #search_query_top {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    clear: both;
}
.header_cart .button-cart {
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #f5f9fd;
    border: 1px solid #eaeff5;
    font-size: 16px;
    color: initial;
    z-index: 1;
}
.header_cart .cart_count {
    position: absolute;
    bottom: 30px;
    left: 2;
    right: 0;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 8px;
    font-weight: 800;
    display: block;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/** SiteNavigation(Menu) **/
.site-navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

nav.main-menu ul.menu li ul.mega-submenu li > a > span{
    display: inline ;
    padding: 2px 7px;
    color: #ffffff ;
    text-shadow: none;
    border-radius: 3px;
    margin-left: 14px;
    position: relative;
    text-transform: uppercase;
    font-size: 10px ;
    font-weight: bold ;
    transition: all .4s;
}
nav.main-menu ul.menu li ul.mega-submenu li > a > span:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-width: 5px;
    margin-top: -5px;
    border-right-color: inherit;
}

/* --- Button ---*/
a.learn-more {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-btn);
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
}

a.learn-more:hover ,
a.learn-more:focus {
    background-color: var(--color-btn-hover);
}

.our-blogs .blog-footer a {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-btn);
    color: #fff;
    font-weight: 700;
}

.our-blogs .blog-footer a:hover ,
.our-blogs .blog-footer a:focus {
    background-color: var(--color-btn-hover);
    transition: all 0.3s ease;
}

/* ===============================================
    Footer
------------------------*/
.footer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #173f35;
    color: #fff;
}

.footer h4 {
    color: var(--color-title);
}

.footer-logo {
    margin-bottom: 16px;
}
.footer-logo img{
    max-height: 42px;
}
.footer .widget .widget-title { 
    font-size: 21PX;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 38px;
    display: inline-block;
    position: relative;
}

.footer .widget-area:last-child .widget .widget-title {
    margin-bottom: 44px
}

.footer .widget .widget-title:before {
    position: absolute;
    content: '';
    bottom: -13px;
    left: 0;
    width: 35px;
    height: 2px;
    display: block;
}

.footer .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .widget ul a {
    color: #fff;
}

/* first-footer */
.first-footer{
    padding: 30px 0;
}
.first-footer .newsletter-form p { margin: 0; }
.first-footer .newsletter-form input[type="email"] {
    padding: 12px 15px;
    border: none;
    padding-right: 160px;
    height: 54px;
    border: 1px solid transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.first-footer .newsletter-form button[type="submit"] {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 26px 0;
    height: 54px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.first-footer .newsletter-form button[type="submit"]:hover{
    border: 1px solid #fff;
}
.first-footer .featured-icon-box.icon-align-before-content .featured-title h5 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 1px;
}

/* second-footer */
.second-footer .widget-area .widget{
    padding: 35px 0 32px;
}
.second-footer .widget-area:not(:last-child) .widget .featured-icon-box:after{
    position: absolute;
    content: "";
    height: 50px;
    width: 1px;
    top: 0;
    right: 35px;
    background-color: rgba(0, 0, 0, 0.07);
}
.second-footer .featured-icon-box .featured-icon{
    vertical-align: top;
}
.second-footer .featured-icon-box i{
    font-weight: 600;
}
.second-footer .featured-icon-box .featured-title h5 {
    font-size: 19px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 2px;
}

/** menu-footer-quick-links **/
ul.menu-footer-quick-links li a{
    font-weight: 500;
}

ul.menu-footer-quick-links li {
    display: inline-block;
    width: calc(45% - 2px);
    padding: 0 0 9.5px 0;
    position: relative;
}

ul.menu-footer-quick-links li:last-child{ padding-bottom: 0; }
ul.menu-footer-quick-links li:nth-child(9) { width: 100%; }


/** ttm-recent-post-list **/
.footer .widget ul.ttm-recent-post-list>li:not(:last-child) {
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.footer .widget ul.ttm-recent-post-list>li>a {
    font-size: 15px;
    line-height: 22px;
    display: block;
    font-weight: 500;
}
.footer .widget ul.ttm-recent-post-list>li img {
    display: block;
    width: 70px;
    height: 65px;
    float: left;
    margin-right: 18px;
}
.footer .widget ul.ttm-recent-post-list>li .post-date {
    display: block;
    font-size: 13px;
    line-height: 25px;
}
.footer .widget ul.ttm-recent-post-list>li .post-date i{ margin-right: 5px; }
.footer .widget ul.ttm-recent-post-list li:after {
    content: " ";
    display: table;
    clear: both;
}


/* social-icons */
.footer .social-icons li>a {
    display: block;
    text-align: center;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    font-size: 16px;
    min-width: 22px;
    color: #8a91ac;
}

/** copyright **/
.copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

/* ===============================================
    GoTop BUtton
------------------------*/
#totop{
    font-weight: 900;
    color: #fff;
    display: none;
    position: fixed;
    right: 34px;
    bottom: 50px;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    text-align: center;
    padding-top: 3px;
    line-height: 34px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}
#totop.top-visible {
    height: 40px;
    width: 40px;
    font-size: 22px;
    display: inline;
}
@keyframes jump {
  0% { bottom: 20px; } 50% { bottom: 40px; } 100% { bottom: 20px; }
}
#totop.top-visible  {
  animation: jump 4s infinite;
}


/* ===============================================
    Page-Title-Row
------------------------*/

.region-page-title {
    width: 100%;
    background-color: var(--color-sub-theme);
    margin-bottom: 50px;
}

.region-page-title .title {
    color: var(--color-main-theme);
}

.region-page-title .row{
    min-height: 200px;
    margin: 0;
}

.page-title-heading h2 {
    display: inline-block;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    /* padding-left: 20px; */
    margin-bottom: 12px;
    position: relative;
}
.page-title-heading h2:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
}
.page-title-heading h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: capitalize;
}
.breadcrumb-wrapper {
    z-index: 99;
    display: inline-block;
    color: var(--color-main-theme);
}
.breadcrumb-wrapper span{
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    position: relative;
}
.breadcrumb-wrapper span:first-child{
    padding-right: 5px;
}
.breadcrumb-wrapper span:first-child:after{
    content: "/";
    margin-left: 5px;
    display: inline-block;
}

/*blog-comment*/
.comments-area {
    padding-top: 60px;
    margin-bottom: 0;
}
.comments-area h2{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
}
.comment-list li { position: relative; margin-top: 30px; }
.comment-list .children { margin-left: 35px; }
.comment-list, .comment-list .children { 
  list-style-type: none;
  padding: 0; 
}
.single-post .comments-area { margin-top: 50px; margin-bottom: 0; }
.single-post .comments-area .comments-title { font-size: 33px; font-weight: 600; }
.comment-body {
    margin-left: 110px;
    padding: 20px 25px;
    position: relative;
    position: relative;
}
.comment-body:after{
    content: "";
    position: absolute;
    top: 25px;
    left: -18px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid;
}
.comment-author {
    float: left;
    text-align: center;
    width: 81px;
    height: 81px;
    display: block;
    overflow: hidden;
    margin-left: -135px;
    margin-top: -20px;
}
.comment-author img { max-width: 100%; height: auto; }
.comment-reply-title {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
}
.comment-notes{ 
    font-size: 15px;
    font-style: italic;
}
.comment-meta, .reply {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}
.comment-body .author-content-wrap p{ margin-bottom: 0; }
.reply{ float: right; }
.comment-meta, .comment-meta span{ 
    font-size: 13px;
    line-height: 24px;
}
.comment-meta .ttm-comment-owner h5, .ttm-comment-owner {
   display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
    font-style: normal;
}
.single article.post .comment-body p { margin-top: 10px; }
.comment-list a.comment-reply-link {
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 4px 30px 2px 17px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.comment-list a.comment-reply-link:after {
    position: absolute;
    top: 6px;
    font-family: 'themify';
    content: "\e649";
    font-weight: 400;
    display: inline-block;
    margin-right: .2em;
    text-align: center;
    opacity: 1;
    line-height: 20px;
    font-size: 10px;
    margin-left: 6px;
}
.comments-area .comment-respond { padding-top: 40px; }
#respond .comment-reply-title { margin: 0 0 20px!important; }
.comment-form textarea, .comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {
    background-color: transparent;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 5px;
    text-indent: 0;
    font-style: italic;
}
.comment-form textarea::-webkit-input-placeholder, .comment-form input[type="text"]::-webkit-input-placeholder, 
.comment-form input[type="email"]::-webkit-input-placeholder, .comment-form input[type="url"]{
    color: #8a91ac;
}


/*------------------------------------------------------------------------------*/
/*  Contact_page
/*------------------------------------------------------------------------------*/ 
.single-gallery-image-wrap{
    position: relative;
    overflow: hidden;
}
.single-gallery-image-wrap a i{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.single-gallery-image-wrap:hover a i{
    font-size: 20px;
}


/*------------------------------------------------------------------------------*/
/*  Elements_page
/*------------------------------------------------------------------------------*/
.element-row{ padding: 80px 0 0px; position: relative;}
.element-row .section-title h2.title{ margin-bottom: 25px;}


/*------------------------------------------------------------------------------*/
/*  Error_page
/*------------------------------------------------------------------------------*/
.error-404{ 
  background-image: url(../images/404-page-bg.jpg);
  background-color: rgba(255,255,255,0.1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.page-header {
    margin: 30px 0 15px;
    border-bottom: 1px solid #eee;
}
section.error-404 { padding: 140px 0; text-align: center; }
section.error-404 .ttm-big-icon { font-size: 140px; }
section.error-404 h1 { font-size: 50px; text-transform: uppercase; line-height: 100%; }
section.error-404 .page-content p { font-size: 18px; margin-bottom: 30px; }


/* ---------------- Styling ---------------------------*/
.banner-homepage {
    position: relative;
}
.widget-banner {
    margin: 0px calc((100vw - 100%) / -2);
    width: 100vw;
    position: relative;
}

.widget-banner:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: radial-gradient(circle,rgba(61,57,53,.26) 0,rgba(61,57,53,.89) 100%); */
    background: rgba(0, 0, 0, 0.2);
}

.widget-banner img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.widget-banner-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.widget-banner-inner .block-title-banner {
    text-align: center;
}

.widget-banner-inner .block-title-banner span {
    font-size: 29pt;
    line-height: 1.18;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.widget-banner-inner h1.title {
    font-size: 60pt;
    line-height: 1.2;
    border-bottom: 12px solid rgba(208,7,13,1);
    color: #fff;
}

.scientific-research-section {
    padding: 90px 0;
    background-color: #fff;
}

.scientific-research-section .title-header {
    text-align: center;
}

.scientific-research-section .col-lg-4 {
    transform: translateY(0px);
    transition: all 0.3s ease;
}

.scientific-research-section .col-lg-4 > a {
    position: relative;
}

.scientific-research-section .col-lg-4:hover .content-body::after {
    transition: all 0.3s ease;
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0), rgba(17, 17, 17, 0.9));
}

.scientific-research-section .col-lg-4:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.scientific-research-section .content-body {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 15px;
    color: var(--color-title);
    width: 100%;
}

.scientific-research-section .content-body * {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.scientific-research-section .content-body::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0), rgba(17, 17, 17, 0.7));
    z-index: 1;
}

/* --- Our Blog ---*/
.our-blogs {
    padding: 90px 0;
}

.our-blogs .block-content-wrapper {
    box-shadow: 0 0 10px 0 rgb(0 43 92 / 8%);
    background-color: #fff;
    border: 8px solid rgba(255,255,255,1);
}

.our-blogs .block-content-body {
    padding: 20px 20px 27px;
}

.our-blogs .blog-meta {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    color: #8a91ac;
}

.our-blogs .blog-title a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.our-blogs .blog-desc {
    color: #8a91ac;
}

.our-blogs .blog-footer {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* --- Introduction-section --- */
.introduction-section h2 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 40px;
}
.introduction-section .column-content-left {
    margin-bottom: 30px;
}
.introduction-section .section-title .title {
    text-align: left;
    color: var(--color-main-theme);
}

/* --- grid-section --- */
.grid-section .col-lg-4 {
    margin-bottom: 30px;
}

.grid-section .col-lg-4:hover .grid-thumbnail img ,
.grid-section .col-lg-4:focus .grid-thumbnail img {
    transform: scale(1.1);
    transition: all 0.3s ease;

}

.our-blogs .section-content {
    display: block;
    width: 100%;
}

/* --- Footer --- */
.footer-top {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 45px 0 45px;
}

.footer-top .col-lg-6 {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.footer-top .col-lg-6:last-child {
    border-right: 0;
}