@media only screen and (max-width: 1801px){

	.featured-icon-box.icon-align-before-content.style4 {
	    padding: 38px 30px 24px 30px;
	}
}

@media only screen and (min-width: 1801px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -500px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -500px;
	}

}

@media only screen and (max-width: 1800px) and (min-width: 1601px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -400px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -400px;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1401px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -300px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -300px;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 1171px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -200px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -200px;
	}
}


@media only screen and (max-width: 1280px){

	.slick_slider .slick-arrow { display: none; visibility: hidden; }
	.slick_slider.slick-arrows-style4 .slick-arrow, .slick_slider.slick-arrows-style3 .slick-arrow { visibility: visible; }
}



@media only screen and (min-width: 1200px){

	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1170px;
	}

	/* header */
	.site-header-menu-inner.fixed-header {
		z-index: 111;
		background-color: #fff;
	    box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
	}
	.fixed-header {
	    position: fixed !important;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 9;
	}
	.header:not(.ttm-header-style-02) #site-header-menu .site-header-menu-inner.fixed-header .site-navigation ul.menu > li >a  { 
		padding: 35px 17px ;
	}

	/* .ttm-header-style-04 .site-header-menu-inner,
	.ttm-header-style-05 .site-header-menu-inner, */
	.front-page .header.header .site-header-menu-inner {
	    /* position: absolute; */
	    z-index: 21;
	    width: 100%;
	    background-color: #fff;
	    box-shadow: none;
	}
	.header.header nav.main-menu ul.menu > li > a {
		display: block;
	    margin: 0px;
	    padding: 53px 17px 52px 17px;
	    text-decoration: none;
	    position: relative;
	    z-index: 1;
	}

	.header.header .site-header-menu-inner.fixed-header {
		background-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
	}

}


@media all and (max-width: 1199px) {
	
	/* Header */
	header .container{ max-width: 100%; }
	.header_extra , .widget_info{ display: none !important; visibility: hidden; }

	/* logo */
	.site-branding a.home-link img {
		max-width: 55px;
	}
	#site-header-menu .site-navigation { height: 80px; }

	.ttm-header-style-02 .site-branding{
		position: absolute;
		bottom: -60px;
	}

	.widget ul.menu-footer-quick-links li a {
		padding-left: 0;
	}

	.footer-top {
		padding: 30px 0;
	}
}

@media (max-width: 991px){

	.top_bar{ display: none; }

	.row-equal-height > [class*='col-'],
	.ttm-equal-height-image, .featured-imagebox img, 
	[class*='col-md'] .ttm-equal-height-image { display: block; width: 100%; }

	.ttm-reset-content-center-991 * {  text-align: center!important;}
	.ttm_single_image-wrapper .text-right{ text-align: left !important; }

	.page-title-heading h2 { 
		font-size: 38px;
		padding-left: 0;
	}
	.block-page-title-inner .row {
	    color: #fff;
	    min-height: 180px;
	}

	.ttm-pf-single-content-wrapper-innerbox.ttm-pf-view-top-image .ttm-pf-single-detail-box .ttm-pf-detailbox { padding-bottom: 40px; }

	/* ttm-bg-layer */
	[class*='col-md'] .ttm-col-bgimage-yes, .bg-layer-equal-height [class*='col-md'] .ttm-col-bgcolor-yes{ height: auto !important; }

	h1 { font-size: 50px; line-height: 55px; }
	h2 { font-size: 36px; line-height: 42px; }
	h3 { font-size: 32px; line-height: 38px; }
	h4 { font-size: 24px; line-height: 28px; }
	h5 { font-size: 19px; line-height: 22px; }
	h6 { font-size: 17px; line-height: 20px; }

	/* padding-row */
	body .page.ttm-sidebar-true .site-main,	.padding-row{ padding: 60px 0 !important; }
	.padding-row.services-section-2 { padding: 60px 0 30px !important; }
	.padding-row.broken-section-1{ padding: 0 0 !important; }
	.padding-row.broken-section-2 { padding: 0 0 !important; }
	.padding-row.client-section { padding: 10px 0 !important; }
	.padding-row.features-section { padding: 40px 0 !important; }
	.padding-row.portfolio-section { padding: 60px 0 30px !important; }
	.padding-row.client-section-2{ padding: 0 0!important; }
	.padding-row.broken-section { padding: 0 0 !important; }
	.padding-row.broken-section-3 { padding: 0 0 !important; }
	.padding-row.pricing-title-section { padding: 60px 0 0 !important; }
	.padding-row.pricing-plan-section { padding:  0 0 60px !important; }
	.padding-row.portfolio-section-2 { padding: 60px 0 30px !important; }
	.padding-row.client-section-3 { padding: 10px 0 !important; }
	.padding-row.cta-info-section { padding: 0 !important; }
	.padding-row.grid-section { padding: 60px 0 30px!important; }
	.padding-row.overview-section { padding: 30px 0 !important; }
	section.error-404 { padding: 60px 0 50px;}
	.padding-row.client-section-4 { padding: 0 !important; }
	.element-row{ padding: 50px 0 0 !important; }
	.padding-row.highlighted { padding: 30px 0 0 !important; }


	.bg-img11 { background-position: right; }


	.spacing-1 { margin-top: 0; margin-left: 0; padding-top: 30px; padding-left: 30px; padding-bottom: 30px; margin-bottom: 0px; }
	.spacing-2 { margin-top: 0; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 15px; margin-bottom: 0px; }
	.spacing-3 { margin-left: 0; margin-top: 0; padding: 60px 15px; }
	.spacing-4 { padding-top: 60px; margin-right: 0; padding-right: 15px; padding-left: 15px; padding-bottom: 20px;}
	.spacing-5 { padding-top: 30px; padding-left: 15px;	padding-bottom: 30px; padding-right: 15px; margin-top: 0px; }
	.spacing-7 { padding: 30px; margin-left: 15px; margin-right: 15px;}
	.spacing-9 { padding: 40px 15px 40px; margin: 0 15px; }


	/* spacing */
	.res-991-p-0 { padding: 0 !important; }
	.res-991-pt-0{ padding-top: 0 !important; }
	.res-991-pt-10{ padding-top: 10px !important; }
	.res-991-pt-15{ padding-top: 15px !important; }
	.res-991-pt-30{ padding-top: 30px !important; }
	.res-991-pt-50{ padding-top: 50px !important; }
	.res-991-pt-60{ padding-top: 60px !important; }

	.res-991-pb-0{ padding-bottom: 0 !important; }
	.res-991-pb-15{ padding-bottom: 15px !important; }
	.res-991-pb-30{ padding-bottom: 30px !important; }
	.res-991-pb-40{ padding-bottom: 40px !important; }
	.res-991-pb-50{ padding-bottom: 50px !important; }

	.res-991-pr-0{ padding-right: 0 !important; }
	.res-991-pr-15{ padding-right: 15px !important; }
	.res-991-pr-30{ padding-right: 30px !important; }
	.res-991-pr-50{ padding-right: 50px !important; }
	.res-991-pr-60{ padding-right: 60px !important; }

	.res-991-pl-0{ padding-left: 0 !important; }
	.res-991-pl-0{ padding-left: 0 !important; }
	.res-991-pl-15{ padding-left: 15px !important; }
	.res-991-pl-30{ padding-left: 30px !important; }
	.res-991-pl-50{ padding-left: 50px !important; }
	.res-991-pl-60{ padding-left: 60px !important; }

	.res-991-mt-0 { margin-top: 0 !important; }
	.res-991-mt-15 { margin-top: 15px !important; }
	.res-991-mt-20 { margin-top: 20px !important; }
	.res-991-mt-30 { margin-top: 30px !important; }
	.res-991-mt_30 { margin-top: -30px !important; }
	.res-991-mt_40 { margin-top: -40px !important; }
	.res-991-mt_50 { margin-top: -50px !important; }
	.res-991-mt_60 { margin-top: -60px !important; }

	.res-991-mb-0{ margin-bottom: 0 !important; }
	.res-991-mb-10{ margin-bottom: 10px !important; }
	.res-991-mb-20{ margin-bottom: 20px !important; }
	.res-991-mb-30{ margin-bottom: 30px !important; }
	.res-991-mb-40{ margin-bottom: 40px !important; }
	.res-991-mb-50{ margin-bottom: 50px !important; }
	.res-991-mb-60{ margin-bottom: 60px !important; }


	.res-991-ml-0{ margin-left: 0 !important; }
	.res-991-ml-15{ margin-left: 15px !important; }
	.res-991-ml-20{ margin-left: 20px !important; }
	.res-991-ml-30{ margin-left: 30px !important; }
	.res-991-ml-40{ margin-left: 40px !important; }
	.res-991-ml-50{ margin-left: 50px !important; }

	.res-991-ml_15{ margin-left: -15px !important; }
	.res-991-ml_30{ margin-left: -30px !important; }
	.res-991-ml_50{ margin-left: -50px !important; }

	.res-991-mr_15{ margin-right: -15px !important; }
	.res-991-mr_30{ margin-right: -30px !important; }
	.res-991-mr_50{ margin-right: -50px !important; }

	.res-991-mr-0{ margin-right: 0 !important; }
	.res-991-mr-15{ margin-right: 15px !important; }
	.res-991-mr-20{ margin-right: 20px !important; }
	.res-991-mr-30{ margin-right: 30px !important; }
	.res-991-mr-40{ margin-right: 40px !important; }
	.res-991-mr-50{ margin-right: 50px !important; }


	/* footer */
	.first-footer .widget-area:nth-child(1) { padding-bottom: 20px; }
	.second-footer .widget-area:not(:last-child) .widget .featured-icon-box:after { right: -10px; }
	.third-footer .widget-area:not(:last-child) .widget { padding-bottom: 25px; padding-top: 15px; }
	.third-footer .widget-area:nth-child(1) .widget { padding-top: 40px; }
	.third-footer .widget-area .widget { padding-top: 10px; }
	.third-footer .widget-area .widget:after { content: unset; }

	/* sidebar */
	.sidebar .sidebar-right{ padding-top: 50px !important; order: 1; width: 100%; }
	.sidebar .sidebar-left{ padding-top: 35px !important; order: 1; width: 100%; }

	.ttm-blog-classic .entry-header .entry-title{
		font-size: 28px;
		line-height: 30px;
	}
	article.ttm-blog-classic .ttm-box-post-icon, article.ttm-blog-single .ttm-box-post-icon {
	    height: 42px;
	    width: 49px;
	    line-height: 48px;
	}
	article.ttm-blog-classic .ttm-box-post-icon i, article.ttm-blog-single .ttm-box-post-icon i {
		font-size: 18px;
	}
	.ttm-blog-single blockquote {  padding: 25px 30px; }
	article.ttm-blog-single .ttm-box-post-icon{ right: 0; }
	article.ttm-blog-classic img { width: 100%; }	
	#map { height: 264px; }

	.ttm_single_image-wrapper img { text-align: center; width: 100%; }
	.featured-icon-box.icon-align-before-content.style4 {
	    padding: 15px 0px 15px 0px;
	}
	.ttm-icon.ttm-icon_element-size-lg i {
	    font-size: 42px;
	}
	.featured-icon-box.icon-align-before-content .featured-content { padding-left: 10px; }
	.featured-icon-box.icon-align-before-content.style4 .featured-desc p { margin-bottom: 15px; margin-top: 8px; }

	.featured-icon-box.icon-align-before-content.style2 .featured-icon { padding-right: 10px; }

	.featured-icon-box.icon-align-top-content.style3 { padding: 0 20px 30px; }

	.featured-icon-box.icon-align-top-content.style4 .arrow { display: none; }

	.ttm-fid-view-lefticon.style2.inside { padding: 40px 0; }
	.col-lg-3:nth-child(n+3) .ttm-fid-view-lefticon.style2.inside { padding-top: 0px; }
	.ttm-fid-view-lefticon.style2.inside i { font-size: 45px; }
	.col-lg-3:nth-child(1) .ttm-fid-view-lefticon.style2.inside i { font-size: 40px; }
	.inside h4, .inside h4 span { font-size: 28px; line-height: 30px; }

	.row.ttm-boxes-spacing-5px { margin-left: 15px !important; margin-right: 15px !important; }

	.featured-icon-box.icon-align-top-content.style2 { padding: 40px 10px 50px; margin-bottom: 50px;}
	.featured-icon-box.icon-align-top-content.style2 .ttm-icon.ttm-icon_element-size-md { height: 65px; width: 65px; line-height: 65px; }
	.featured-icon-box.icon-align-top-content.style2 .ttm-icon.ttm-icon_element-size-md i { font-size: 30px; }
	.row .col-lg-4:first-child .featured-icon-box.icon-align-top-content.style2 { padding-top: 60px;}
	.row .col-lg-4:last-child .featured-icon-box.icon-align-top-content.style2 { margin-bottom: 0;}


	.featured-icon-box.icon-align-before-content.style5 {
	    padding: 20px 0 25px;
	}
	.featured-icon-box.icon-align-before-content.style5 .featured-icon:before, 
	.featured-icon-box.icon-align-before-content.style5 .featured-icon:after {
		content: unset;
	}

}


@media (max-width: 767px){

	h1 {
		font-size: 32px;
		line-height: 40px;
	}

	.block-page-title-inner .row {
		min-height: 120px;
	}

	.page-title-heading h2 { font-size: 28px; margin-bottom: 10px; }
	.block-page-title-inner .d-flex{
		display: block !important;
		padding: 60px 0 58px ;
	}
	.breadcrumb-wrapper span { font-size: 15px; }

	.section-title h2.title { font-size: 28px; line-height: 36px; }

	.row-title h2.title { font-size: 32px; line-height: 40px; padding: 0 10px;}

	/* Page-Title */
	.breadcrumb-wrapper .breadcrumb-wrapper-inner{ padding: 0; background: transparent; }
	.title-box .page-title-heading h1{ font-size: 38px ; line-height: 41px; }

	.slick_slider.slick-arrows-style4 .slick-arrow, .slick_slider.slick-arrows-style3 .slick-arrow { visibility: hidden; }
}
